.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: #f3f0ff;
  background-color: linear-gradient(135deg, #100529, #f3f0ff);
  font-family: Arial, sans-serif;
}

.login-card {
  background: rgb(214, 211, 219);
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
  border: 3px solid #7343a7;
  width: 350px;
}

.login-container h1 {
  color: #4b2b83;
  margin-bottom: 20px;
}

.login-container input {
  margin: 10px;
  padding: 10px;
  width: 250px;
  border-radius: 10px;
  border: 2px solid #7343a7;
  outline: none;
}

.btn-iniciar,
.btn-google,
.btn-crear {
  margin: 10px;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s ease;
}

.btn-iniciar {
  background-color: #7343a7;
  color: white;
  border: none;
}

.btn-iniciar:hover {
  background-color: #562f7d;
}

.btn-google {
  background-color: #d94c4c;
  color: white;
  border: none;
}

.btn-google:hover {
  background-color: #b83f3f;
}

.btn-crear {
  background-color: transparent;
  color: #7343a7;
  border: none;
  text-decoration: underline;
}

.btn-crear:hover {
  color: #4b2b83;
}
