h2 {
  color: black;
}
.usuario {
  margin: 30px;
  border: 5px #7343a7 solid;
  justify-content: space-around;
  height: auto;
  width: auto;
}
.contenedor {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  gap: 15px;
}
.usuario {
  padding: 10px;
  border-radius: 10px;
  justify-content: flex-start;
}
